@using Umbraco.Cms.Web.Common.PublishedModels;

@using ENS.UmbracoWreck.Helpers;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "HTML.cshtml";

	var ExerciseObject = Model;
	var Parent = ExerciseObject.Parent;
	var ExerciseTaskNodeList = ExerciseObject.ChildrenOfType("taskObject");
	var ExerciseJSON = ExerciseTaskHelper.GetExerciseJSON(ExerciseObject);
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="~/Assets/Scripts/ITEM.Exercise.bundle.js?v=0.03"></script>

@*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@




<div class="exercise-body">
    <header class="exercise-header" id="nav">
        
        <h1 id="exercise-header-title"></h1>
        
        <div id="exercise-debug-container" class="exercise-header__info">
        </div>

        <ul class="exercise-header__tools-list">
            <partial name="headerTools/settingsBtn" />
            <partial name="headerTools/playBtn" />
            <partial name="headerTools/replayBtn" />
            <partial name="headerTools/audioBtn" />
            <partial name="headerTools/subtitlesBtn" />
            <partial name="headerTools/restartBtn" />
        </ul>
    </header>
    <div class="task-wrapper">
        <div class="task-wrapper__inner" id="assetContentWrapper" oncontextmenu="return false;" tabindex="0">
            <ul class="overlay__list">
                <partial name="overlays/settingsOverlay" />
                <partial name="overlays/resultsOverlay" />
                <partial name="overlays/debugOverlay" />
                <partial name="overlays/unfocusOverlay" />
                <partial name="overlays/audioErrorOverlay" />
                <partial name="overlays/confirmRestartOverlay" />
                <partial name="overlays/introOverlay" />
                <partial name="overlays/shortcircuitOverlay" />
            </ul>

            <ul class="task__list">
            </ul>

        </div>
    </div>

    <partial name="subtitlesWrapper" />
</div>

<a href="@Parent.Url()">
    Tilbage til Exercise oversigt
</a>

<h1>Exercise Object</h1>
<p>
    En 'Exercise', altså en øvelse, består af adskillige 'task' - altså opgaver.
    <br />
    Hvert en opgave kan bestå af adskillige interaktioner med brugerfladen - såsom klik, tastetryk, osv.
</p>


<h2>
    Task Noder
</h2>
@if (ExerciseTaskNodeList != null && ExerciseTaskNodeList.Any())
{
    <ul>
        @foreach (var taskNode in ExerciseTaskNodeList)
        {
            var taskUrl = taskNode.Url();
            var taskName = taskNode.Name();
            var taskSubtitles = taskNode.Value("taskSubtitles");
            <li>
                <a href="@taskUrl">
                    @taskName
                    @if (taskSubtitles != null && taskSubtitles.ToString().Length > 0)
                    {
                        <span>- "@taskSubtitles"</span>
                    }
                </a>
            </li>
        }
    </ul>
}
<h2>JSON</h2>

<textarea style="font-size: 9px; width:500px; height:200px;" id="json">
    @Html.Raw(ExerciseJSON)

</textarea>

<script defer>
    const json = @Html.Raw(ExerciseJSON);
    
    startExercise(json);
</script>